@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";

.contacts {
  height: 100%;
  background-color: $secondBackgroundColor;

  .contactsContainer {
    @include flexContainer();


    @media screen and (max-width: 774px) {
      align-items: center;
    }

    .map {
      width: 100%;
      filter: grayscale(100%);
    }
  }
}
