@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";

.contacts {
  height: 80vh;
  background-color: $secondBackgroundColor;

  .contactsContainer {
    @include flexContainer();
    justify-content: space-evenly;

    @media screen and (max-width: 774px) {
      align-items: center;
    }
  }
}
