@import "../../common/styles/sass/mixins.scss";

.form {
  width: 80%;
  // border: 1px solid;
  box-sizing: border-box;



  .inputBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;



    ul {
      display: block;
      margin: 0;
      padding-left: 0;
      width: 100%;

      li {
        list-style-type: none;

        input {
          @include text(400, 13px, rgba(0, 0, 0, 0.2));
          line-height: 1.6;
          resize: none;
          width: 100%;
      border: 1px solid rgba(0,0,0,.2);
      height: 120px;
      background-color: transparent;
      font-style: italic;
      border-radius: 0;
      word-wrap: break-word;
      letter-spacing: 1.2px !important;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px !important;
      width: 100%;
      // border: 1px solid #eee;
      transition: all .3s ease;
        }

      }

    }


    @media screen and (max-width: 400px) {
      width: 100%;


    }

  }

  textarea {
    @include text(400, 13px, rgba(0, 0, 0, 0.2));
    resize: none;
    width: 100%;
border: 1px solid rgba(0,0,0,.2);
height: 120px;
background-color: transparent;
font-style: italic;
border-radius: 0;
word-wrap: break-word;
letter-spacing: 1.2px !important;
-ms-box-sizing: border-box;
box-sizing: border-box;
padding: 10px !important;
width: 100%;
// border: 1px solid #eee;
transition: all .3s ease;
}

}
