.form {
  width: 80%;
  border: 1px solid;
  box-sizing: border-box;

  .inputBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;

    ul {
      display: block;
      margin: 0;
      padding-left: 0;
      width: 100%;

      li {
        list-style-type: none;

        input {
          display: block;
          box-sizing: border-box;
          width: 100%;
          background: #f6f6f6;
          margin: 2px 0;
        }
      }
    }
  }

  textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background: #f6f6f6;

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
}
