@import "../common/styles/sass/mixins.scss";
@import "../common/styles/sass/variables.scss";

.skillbox {
  background-color: $firstBackgroundColor;

  .skillboxContainer {
    @include flexContainer();
    flex-wrap: wrap;

    .list {
      @include content();
      justify-content: space-between;

      @media screen and (max-width: 774px) {
        justify-content: center;
      }
    }
  }
}
