@import "../common/styles/sass/mixins.scss";
@import "../common/styles/sass/variables.scss";

.skillbox {
  min-height: 50vh;
  background-color: $secondBackgroundColor;

  .skillboxContainer {
    @include flexContainer();
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;



    .list {
      @include content();
      // align-items: center;
      // flex-direction: column;
      justify-content: space-evenly;
      padding: 50px 0;
      gap: 25px;
      border: 0;
      width: 60%;
      @media screen and (max-width: 774px) {
        // justify-content: space-evenly;
        padding: 0;
        width: 90%;
gap: 11px;
      }


    }
  }
}
