@import "../common/styles/sass/mixins.scss";
@import "../common/styles/sass/variables.scss";

.skillbox {
  min-height: 50vh;
  background-color: $firstBackgroundColor;

  .skillboxContainer {
    @include flexContainer();
    flex-wrap: wrap;


    .list {
      @include content();
      justify-content: space-around;
      gap: 7px;
      @media screen and (max-width: 774px) {
        justify-content: space-evenly;
      }
    }
  }
}
