
@import '../../styles/sass/mixins.scss';

//colors
$red: #E1332D;
$white: #fff;

section {
  display: flex;
  justify-content: space-around;

div {


.button {
  @include text (400, 15px, #767676);
  text-align: center;
  border: none;
  padding: 4px;
  box-shadow: 0 0 3px #dfdfdf;
  cursor: default;
  display: block;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 120px;
  box-sizing: content-box;
}

.btn {
  // border: 1px solid;
  overflow: hidden;
  position: relative;
  span {
    @include text (400, 15px, #767676);
    z-index: 20;


   }

  &:before {
    background-color: #e7e6e6;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 600ms cubic-bezier(0,0,.2,1);
    width: 40px;
    z-index: 10;

  }

}

.btn:hover {
  &:before{
    left: 120%;
    transition: all 600ms cubic-bezier(0,0,.2,1);
  }
span {
  color: #000;
}
}

//button styles
}}