@import "../common/styles/sass/mixins.scss";
@import "../common/styles/sass/variables.scss";

.nav {
  width: 100%;
  height: 40px;
  // border: 1px solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  // transition: transform 0.3s ease;
  z-index: 999;
  background: $firstBackgroundColor;

  ul {
    margin: 0;
    list-style-type: none;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);

    @media screen and (max-width: 564px) {
      display: none;
    }

    li {
      margin: 0 30px 0 0;
      display: inline-block;
      .active::before {
        width: 100%;
      }

      a {
        @include text(500, 15px, #767676);
        text-decoration: none;
        color: #767676;
        position: relative;
        transition: all 0.3s ease;

        &:hover {
          transition: all 0.3s ease;
          color: #000;
          // letter-spacing: 2px;
        }

        &::before {
          content: "";
          position: absolute;
          background: #222;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          transition: 0.3s;
          z-index: 2;
        }

        &:hover:before {
          width: 100%;
          transition: 0.3s;
        }
        .active::before {
          width: 100%;
        }
      }
    }
  }
}
