@import "./common/styles/sass/variables.scss";
@import "./common/styles/sass/mixins.scss";

body {
  background-color:$secondBackgroundColor;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include text(400, 15px, #767676);
  line-height: 30px;
  font-family: "Mulish";
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-family: "Poppins";
  color: #000;
}
