@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";

.footer {
    min-height: 30%;
    background-color: #000 ;


    .footerContainer{
        text-align: center;

        .copyright {
            @include text (400, 15px, #fff);
            margin-left: 5px;
        }


    }
}




